/* Navbar - Estilos */

/* .topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: var(--topbar-height);
  padding: 0 1rem;
  background: #754c29;
  border: 0.25rem solid #7a4e2b;
  color: #f8ead6;
  border-bottom: 0.25rem solid #3b2414;
  font: 1.75rem/1.2 ui-monospace, Courier, "Courier New", monospace;
} */
.brand {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 1000;
}
.brand .chip {
  width: 1.125rem;
  height: 1.25rem;
  border: 0.0625rem solid #26170e;
  display: inline-block;
}
.logout {
  margin-left: auto;
}
/* Botón específico del navbar */
.topbar .btn {
  background: transparent;
  color: #f8ead6;
  border: 0.0625rem solid #f8ead6;
  border-radius: 1.25rem;
  padding: 0.375rem 0.625rem;
  cursor: pointer;
  font-size: 1rem;
}
.topbar .btn:hover {
  background: #3b2414;
  color: #f8ead6;
}
.tabs{
  position: fixed;
  top: var(--topbar-height);
  left: 0;
  width: 100%;
  height: var(--tabs-height);
  z-index: 999;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 0.75rem;
  background: #f8ead6;
  border-top: none;
  border-bottom: 0.1875rem solid #26170e; 
  box-sizing: border-box;
}
.tab {
  padding: 0.5rem 1rem;
  border: 0.0625rem solid #f8ead6;
  text-decoration: none;
  color: #26170e;
  font-size: 0.9rem;
  font-weight: 500;
}
.tab:hover {
  background-color: #3b2414;
  color: #f8ead6;
  border-radius: 0.625rem;
}
