:root{
  --bg:#3b2414; 
  --panel:#f8ead6; 
  --text:#26170e; 
  --muted:#2a1a0f; 
  --line:#7a4e2b; 
  --borders:#e6cc99;
}
*{
    box-sizing:border-box;
}
html,body{
    height:100%
}

body{
  margin:0; 
  background-image: url("/assets/images/desert-bg2.jpg");
  background-repeat: repeat;
  background-position: top left;
  background-attachment: fixed;
  color:var(--text);
  font:18px/1.4 ui-monospace, Menlo, Courier, "Courier New", monospace;
  letter-spacing:.2px;
}
.app{
    max-width:2000px; 
    margin:24px auto;  
    padding-top: 75px ; 
    
}

/* Header */
.topbar{
    position: fixed; 
    top:0; 
    left:0; 
    right:0; 
    z-index:1000;
    display:flex; 
    justify-content: center;
    padding: 16px;
    background: #754c29; 
    border:4px solid var(--line);
    color: #f8ead6;
    border-bottom: 4px solid #3b2414;
    font: 25px/1.4 ui-monospace, Courier, "Courier New", monospace;
}
.brand{
    display:flex; 
    align-items:center; 
    gap:10px; 
    font-weight:1000
}
.brand .chip{
    width:18px; 
    height:20px; 
    border:1px solid var(--text); 
    display:inline-block
}
.logout{
    margin-left:auto
}
.btn{
    background:transparent; 
    color:var(--text); 
    border:1px solid var(--text); 
    padding:10px 12px; 
    cursor:pointer
}
.btn:hover{
    background:#3b2414;
    color: #f8ead6;
}

/* Tabs */
.tabs{
    display:flex; 
    gap:8px; 
    padding:6px 10px; 
    background:var(--panel); 
    border:3px solid var(--text); 
    border-top:none
}
.tab{
    padding:10px 8px; 
    border:1px solid var(--panel); 
    text-decoration:none; 
    color:var(--text)
}
.tab.is-active{
    outline:2px solid var(--text);
}

.tab:hover {
  background-color: #3b2414;
  color: #f8ead6;
}

/* Content */
.content{
    background:var(--panel); 
    border:3px solid var(--text); 
    border-top:3px solid var(--panel); padding:16px
}
.panel{
    border:4px solid #3b2414; 
    outline: 6px solid #e6cc99;
    padding:100px; display:grid; 
    grid-template-columns:120px 1fr; 
    gap:16px
}
.avatar{
    border:1px solid var(--line); 
    width:100px; height:100px; display:flex; 
    align-items:center; justify-content:center
}
.fields{
    display:grid; 
    gap: 20px;
    

}
.field{
    display:grid; 
    grid-template-columns:200px 1fr; 
    gap:8px
}
.field .label{
    color:var(--muted)
    
}
.footer{
    display:flex; 
    justify-content:space-between; 
    margin-top:12px
}
