html, body {
    background-image: none !important;
    background-color: #f3efe6 !important;
    background-attachment: initial !important;
}

.profile-page * {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.profile-page .pf-wrap {
    width: 100%;
    margin: 0;
    padding: 16px;
}

.profile-page .pf-screen {
    background: #fcf7ea;
    border-top: 3px solid #3b2414;
    border-bottom: 3px solid #3b2414;
    padding: 24px 0;
    min-height: calc(100vh - 100px);
}

.profile-page .pf-card {
    width: 980px;
    max-width: 95%;
    margin: 0 auto;
    background: #fff9ea;
    border: 3px solid #3b2414;
    padding: 20px 22px;
}

.profile-page .pf-h1 {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.profile-page .pf-rule {
    height: 3px;
    background: #3b2414;
    margin: 10px 0 18px;
}


.profile-page .pf-row {
    overflow: hidden;
}

.profile-page .pf-col-left {
    float: left;
    width: 230px;
}

.profile-page .pf-col-right {
    float: left;
    width: calc(100% - 230px);
    padding-left: 24px;
}

.profile-page .pf-avatar {
    width: 190px;
    height: 190px;
    background: #fff5e6;
    border: 3px solid #3b2414;
    outline: 5px solid #e7d9bf;
    border-radius: 0;
    overflow: hidden;
}

    .profile-page .pf-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.profile-page .pf-data {
    margin-top: 4px;
}

    .profile-page .pf-data dt,
    .profile-page .pf-data dd {
        display: inline-block;
        vertical-align: top;
        margin: 6px 0;
    }

    .profile-page .pf-data dt {
        width: 120px;
        font-weight: bold;
    }

    .profile-page .pf-data dd {
        width: calc(100% - 120px);
    }

.profile-page .pf-actions {
    margin-top: 16px;
}

.profile-page .pf-btn {
    border: 2px solid #3b2414;
    background: #f0e3cf;
    color: #3b2414;
    padding: 8px 14px;
    text-decoration: none;
    display: inline-block;
    margin-right: 8px;
}

    .profile-page .pf-btn:hover {
        background: #efe3cc;
    }

.profile-page .pf-btn-primary {
    background: #6b4423;
    border-color: #3b2414;
    color: #fff;
}

    .profile-page .pf-btn-primary:hover {
        filter: brightness(0.95);
    }

@media (max-width:720px) {
    .profile-page .pf-col-left,
    .profile-page .pf-col-right {
        float: none;
        width: 100%;
        padding-left: 0;
    }

    .profile-page .pf-avatar {
        margin: 0 auto 12px;
    }

    .profile-page .pf-data dt,
    .profile-page .pf-data dd {
        width: auto;
        display: block;
    }
}
