.modal-overlay.active {
  display: flex;
}

.modal-content {
  background: var(--panel);
  padding: 2rem;
  text-align: center;
  border: 4px solid var(--black-bean);
  border-radius: 20px;
  box-shadow: 0 0 0 6px var(--line-strong);
  font-family: var(--montfont);
}

#winnerTitle, #finalTitle{
  font-family: "Rye", system-ui, sans-serif;
 text-shadow: 3px 3px 0 #e6cc99, 4px 4px 4px rgba(0, 0, 0, .3);
  letter-spacing: 1.5px;
  color:var(--sienna);
}

#winnerDetails, #finalDetails {
  color: var(--black-bean);
}

.popup-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-confirm,
.btn-cancel {
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-confirm {
  background: var(--brown);
  color: var(--panel);
}

.btn-confirm:hover {
  background: var(--burnt-orange);
  transform: scale(1.05);
}

.btn-cancel {
  background: var(--black-bean);
  color: var(--panel);
}

.btn-cancel:hover {
 transform: scale(1.05);
  background-color: var(--licorice);
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}
