.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: var(--montfont);  
  background-color: var(--bg);  
  border-top: 3px solid var(--navbar-border);
  color: var(--panel);

   padding: 10px 0;
  text-align: center;                   
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: var(--panel);
  font-size: 14px;
  text-decoration: none;
}
.footer-links a:hover { 
    color: var(--tangerine); 
    text-decoration: underline; 
}

body {
  padding-bottom: 0 !important; /* muy importante */
}
main {
  flex: 1;
}