@import url("/css/base/_components.css");




/* Fondo general */
body {
  background: #f2e6d3 url("/assets/images/desert-bg2.jpg") center/cover no-repeat;
  color: var(--text);
  font-family: var(--montfont);
  margin: 0;
}

.app {
  padding-top: calc(var(--bar-h) + env(safe-area-inset-top, 0px));
  min-height: calc(100dvh - var(--bar-h));
  display: flex;
  align-items: center;   
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

/* Ajuste responsivo */
@media (max-width: 600px) {
  .poster {
    margin: 90px 14px;
  }

  .poster {
    padding: 40px 20px;
  }

  .poster h2 {
    font-size: 28px;
  }
}
