
html,
body {
  height: 100%
}
.app {
  padding-top: var(--bar-h);
  min-height: calc(100dvh - var(--bar-h));

  /* centrado  */
  display: block;

  padding-left: 16px;
  padding-right: 16px;
}

body {
  margin: 0;
  background: #1f140d;
  color: var(--text);
  font-family: var(--montfont);
}

.titles {
  margin-top: 40px;
  font-family: "Rye", system-ui, sans-serif;
  color: #fae9c9;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .35);
  letter-spacing: 1.5px;
  font-size: 45px;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
    font-family: var(--montfont);
}

.box {
    margin-bottom: 40px;
}

.box h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--panel);
}

ul {
    list-style: none;
    padding-left: 25px;
}

ul li {
    width: 100%;
    padding: 4px 0;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    font-family: var(--montfont);
}

ul li:hover {
    border-bottom: 2px solid var(--tangerine);
}

ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--accent);
    display: block; 
    transition: color 0.3s ease;
}

ul li:hover a {
    color: var(--tangerine);
}
